<!DOCTYPE html>
<html>
    <head>
        <title>Comunicacion de Redes Seguras</title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <h3>Hola {{ user.username }}!</h3>
            	secret vale en INDEX {{ secret }} 
		{% if user.profile.secret == '0' %}
			<a href="/activar/new">Activar doble factor</a><br/>
		{% endif %}
		Tenes doble factor de autentificacion activado
		<a href="/logout/">salir</a><br />
	{% else %}
            <a href="/login/">ingresar</a><br />
	    <a href="/register/">registrarse</a><br />
        {% endif %}
    </body>
</html>
