<!DOCTYPE html>
<html>
    <head>
        <title>Login Redes Seguras</title>
    </head>
    <body>
        <h1>Register Con Django</h1>
        {% if registered %}
        Joni says: <strong>Gracias por registrarse</strong>
        <a href="/">Por favor inicie sesion</a><br />
        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            Usuario: <input type="text" name="username" value="" size="50" />
            <br />
            Contraseña: <input type="password" name="password" value="" size="50" />
            <br />
             ingresar el token (en caso de tener 2F activado): <input type="text" name="token" value="" size="6" />
            <br />
           <input type="submit" value="submit" />
        </form>
	{% else %}
        Jo: <strong>registrarse</strong><br />
        asfd
        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
           <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>
