<!DOCTYPE html>
<html>
<head>
<title>Comunicacion de Redes Seguras</title>
</head>
<body>
{% if user.is_authenticated %}

	<h3>Hola {{ user.username }}!</h3>
	<form id="secret" method="post" action="/activar/persist/">
		{% csrf_token %}
		<input type="hidden" name="secret" value="{{ secret }}"/>
		<input type="submit" value="escaneado" />
	</form>
	secret vale en ACTIVAR <br/> {{ secret }}
				  <IMG SRC="{{ url }} ">
												  <a href="/logout/">salir</a><br />
{% endif %}
</body>
</html>
