<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Comunicacion de Redes Seguras</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Redes Seguras</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Que es el doble factor de autentificacion?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services"><span>Doble Factor - Configuración</span></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Datos Alumno</a>
                    </li>
		    <li>
                        <a class="page-scroll" href="/logout/">Salir</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Trabajo Final - Universidad de Mendoza </br> Comunicacion de Redes Seguras</h1>
			<h3>Servicio de inicio de sesion utilizando un doble factor de seguridad</br></br></h3>
                   <p><strong>Bienvenido/a usuario/a {{ user.username }}:</strong></br>
		    {% if security == 'actived' %}
			    Actualmente tiene la seguridad en dos pasos <strong>activada</strong>.</br></br>
		    <a class="btn btn-default page-scroll" href="#services">Vea mas detalles aca</a>
		    {% else %}
                    Seguridad en dos pasos desactivada</br></br>
                    <a class="btn btn-default page-scroll" href="#about">Clic para conocer como funciona la seguridad en dos pasos</a>
                    {% endif %}
 		</div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Doble Factor y su implementacion</h1><p>
			<p class="font_p" style="font-size:25px;"><strong>Breve concepto</strong></p>
				<p class="font_p" style="font-size:15px;">La seguridad en dos pasos o tambien conocido como doble factor de autentificacion se trata de una medida de seguridad extra al simple usuario y contraseña que ya conocemos.</br>
Combinando algo que el usuario sabe, un username y su password con algo que el usuario tiene, puede ser una tarjeta magnetica, recibiendo un token por correo, sms, entre otros mecanismos.</br></p>
<p class="font_p" style="font-size:25px;"><strong>Tecnologias utilizadas y sus referencias</strong></p>
                                <p class="font_p" style="font-size:15px;">
Este trabajo hace uso del software desarrollado por Google llamado Google Authentication, el cual se encuentra en el market de Android, IOS o BlackBerry <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=es_419">Google Authenticator</a>, el cliente utiliza esta herramienta para obtener</br> una contraseña de un solo uso, basandose en el algoritmo llamado Time-Based One-Time Password (TOTP) descripta en la RFC 6238 <a href="https://tools.ietf.org/html/rfc6238">RFC 6238</a>.</br></p>
<p class="font_p" style="font-size:15px;">El servidor esta implementado en python, utilizando un Framework MVC llamado Django <a href="https://www.djangoproject.com/">Django</a>aprovechando tambien un modulo llamado onetimepass <a href="https://github.com/tadeck/onetimepass">acceso a github del modulo onetimepass</a>, modulo que implementa el algoritmo (TOTP), antes mencionado.</p></br>
<p class="font_p" style="font-size:25px;"><strong>Funcionamiento de la app</strong></p>
                                <p class="font_p" style="font-size:15px;">
-Un usuario accese a nusetro servidor y se crea un usuario y contraseña, si solicita activar la seguridad doble factor, hacemos lo siguiente:</br>
-Nosotros generamos una clave pseudo-aleatoria de 10 digitos, en base al modulo Random de Python.</br>
-Codificamos esta clave en base32, lo cual nos devuelve una cadena de 16 caracteres, el cual se convertira en la clave secreta del usuario.</br>
-El cliente, en este caso un celular con Google Authenticator lee esta clave a traves de un codigo QR, la cual escanea una url con el siguiente formato:</br>

<strong>'http://chart.apis.google.com/chart?cht=qr&chs=300x300&chl=otpauth%3A//totp/'[USERNAME]'%40redes_seguras%3F[SECRET]%3D </strong></br>

- El cliente crea una clave HMAC-SHA1 usando esta clave secreta y el número de periodos de 30 segundos transcurridos desde el tiempo de Unix.</br>

 - Luego un fragmento de esta clave HMAC es extraido y se genera un codigo de 6 digitos que son entregados al usuario, el cual dura 30 segundos como maximo.</br></p>
</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Doble Factor de Autentificaciòn</h1>
			{% if security == 'actived' %}
				Seguridad con doble factor activada
			{% else %}
                                <IMG SRC="{{ url }} ">
				<form id="secret" method="post" action="/activar/persist/">
                			{% csrf_token %}
                			<input type="hidden" name="secret" value="{{ secret }}"/>
                			<button class="btn btn-primary btn-lg btn-block" type="submit">Codigo Escaneado</button>
        			</form>
				<strong><div class="font_p">IMPORTANTE! Una vez escaneado el codigo, presione sobre el boton Codigo Escaneado, para activar la seguridad</div></strong>
			{% endif %}
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
			Materia: Comunicación de Redes Seguras <br/>Alumno: Antolini, Jonathan
                        <br/>Legajo: 4957<br/>Profesor: Navarro, Diego<br/>Facultad de Ingeniería - Universidad de Mendoza</p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/scrolling-nav.js"></script>

</body>

</html>
