<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Comunicacion de Redes Seguras</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>Formulario de registro. <small>Comunicacion de Redes Seguras - Univesidad de Mendoza</small></h1>
</div>

<!-- Registration form - START -->
<div class="container">
    <div class="row">
        <form role="form" method="POST" action="/register/">
	{% csrf_token %}
            <div class="col-lg-6">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Campos requeridos</strong></div>
		{{ error_email }}
		{{ register_msg }}
		<div class="form-group">
                    <label for="InputName">Usuario</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="username" id="id_username" placeholder="Ingrese usuario" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Correo</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="id_email" name="email" placeholder="Ingrese un correo electronico" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Confirme Correo</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="id_email_du" name="email_du" placeholder="Por favor tipee su coreo nuevamente" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputMessage">Contraseña</label>
                    <div class="input-group">
			<input type="password" class="form-control" id="id_password" name="password" placeholder="Ingrese su contraseña" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
 		<button class="btn btn-primary btn-lg btn-block" type="submit">Registrarse</button>
	   </div>
        </form>
	<!--
        <div class="col-lg-5 col-md-push-1">
            <div class="col-md-12">
                <div class="alert alert-success">
                    <strong><span class="glyphicon glyphicon-ok"></span> Success! Message sent.</strong>
                </div>
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-remove"></span><strong> Error! Please check all page inputs.</strong>
                </div>
            </div>
        </div>
	-->
    </div>
</div>
<!-- Registration form - END -->

</div>

</body>
</html>
