<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Comunicacion de Redes Seguras</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css" />
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>Creacion de cuentas de correo <small>Servicios de aplicacion - Univesidad de Mendoza</small></h1>
</div>

<!-- Registration form - START -->
<div class="container">
    <div class="row">
	<strong> Dominios existentes: </strong>
	<div class="form-group">
		<ul class="list-group">
                      {% for d in domain_list %}
                         <li class="list-group-item"> {{ d.domain }} </li>
		      {% endfor %}
		</ul>
         </div>

	{{ error_msg }}
        <form role="form" method="POST" action="/domain/">
	{% csrf_token %}
            <div class="col-lg-6">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Campos requeridos</strong></div>
		<div class="form-group">
                    <label for="InputName">Dominio</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="domain" id="id_domain" placeholder="Ingrese dominio a agregar" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                </div>
		</div>
 		<button class="btn btn-primary btn-lg btn-block" type="submit">Agregar Dominio</button>
	   </div>
		<a href="/home/"> Ir a la pagina principal </a>
</div>
<!-- Registration form - END -->

</div>

</body>
</html>
