<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Servicios de Aplicacion</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Administracion - Correos</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">How To y mas. </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Datos Alumno</a>
                    </li>
		    <li>
                        <a class="page-scroll" href="/logout/">Salir</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Trabajo Final - Universidad de Mendoza </br>Servicios de aplicacion</h1>
			<h3>Administracion - Servidor de Correo</br></br></h3>
                   <p><strong>Bienvenido/a usuario/a {{ user.username }}:</strong></br>
		    <br/>{{ error_msg }}
			{{ register_msg }}
			{{ domain_msg }}
		    <br/>
			<a class="btn btn-default page-scroll" href="/mailbox/">Gestion de cuentas de Correo</a>
                    </br><br/>
                    <a class="btn btn-default page-scroll" href="/domain/">Gestion de Dominios</a>
 		</div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1> Servidor de Correo Postfix + Mysql + Imap Courier + Pop Courier + Amavisd + SpamAssassin + ClamAV + Postgrey + SASL</h1><p>
			<p class="font_p" style="font-size:25px;"><strong>Software involucrado en el servidor</strong></p>
				<p class="font_p" style="font-size:15px;">
					<ul class="list-group">
    						<li class="list-group-item"><strong>SMTP Postfix</strong>. Archivos de configuracion. 
							<a href="http://pastebin.com/NU0ApkW7">main.cf</a>, 
							<a href="http://pastebin.com/A3J2SkQN">master.cf</a></li>
    						<li class="list-group-item">Base de Datos <strong>Mysql</strong>. Archivos de configuracion. 
							<a href="http://pastebin.com/qn2bqfs8">Instalar y crear db, user y tablas</a>, 
							<a href="http://pastebin.com/EZXQMprz">En /etc/psotfix/ crear 3 archivos mysql_mailbox.cf, mysql_alias.cf y mysql_domain.cf</a>, 
    						<li class="list-group-item"><strong>Imap Courier</strong>, 
						<a href="http://pastebin.com/eVWcrc4x">En /etc/courier dos archivos authdaemonrc y authmysqlrc</a></li>
    						<li class="list-group-item"><strong>Pop Courier</strong>, 
						<a href="http://pastebin.com/uLw7RMRD">En /etc/courier dos archivos pop3d y pop3d-ssl</a></li>
 
						<li class="list-group-item"><strong>Amavisd-new</strong> (anti virus y spam). Archivos de configuracion

						<a href="http://pastebin.com/XRSGwU0p">En /etc/amavis/conf.d modif. <50-user> y <15-content_filter_mode></a></li>
						<li class="list-group-item"><strong>SpamAssassin</strong> (anti-spam). Archivos de configuracion								En /etc/default/spamassassin poner ENABLED=1</li>
						<li class="list-group-item"><strong>ClamAV</strong> (anti-virus). Archivos de configuracion								<a href="http://pastebin.com/MWmGGeLH">/etc/clamav/clamd.conf</a></li>
						<li class="list-group-item"><strong>Postgrey</strong> (lista negra). Archivos de configuracion								En /etc/default/postgrey agregar: POSTGREY_OPTS="--inet=10023 --max-age=365"</li>
						<li class="list-group-item"><strong>Authentication SASL</strong>. Archivos de configuracion								<a href="http://pastebin.com/u3HExAUe">Tres archivos con sus path detallados en pastebin</a></li>
		
				</ul>
				</p>
<p class="font_p" style="font-size:25px;"><strong>Gestion y uso del servidor</strong></p>
                                <p class="font_p" style="font-size:15px;">
					<ul class="list-group">
    						<li class="list-group-item">Power DNS. Administrar DNS. { user: admin, password: metallica9812 } 
							<a href="http://ardilla.com.ar/poweradmin/">Ir a Power DNS Admin</a>, </li>
						<li class="list-group-item">Crear usuarios de Correos. 
						<a href="http://ardilla.com.ar:9002/mailbox/">Ir a Crear una cuenta de correo nueva</a>, </li>
					 	<li class="list-group-item">Cliente de Correo.            
                                                	<a href="http://ardilla.com.ar/webmail/">Iniciar sesion con una cuenta de correo</a>, </li>
						<li class="list-group-item"><strong>EDITED.</strong> SSH al servidor para ver los logs.-$ ssh docente@ardilla.com.ar y el password: doc_2015_marzo_app</li>
					<ul>
            </div>
		</div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Informacion sobre el trabajo</h1>
			Materia: Servicios de Aplicacion <br/>Alumno: Antolini, Jonathan
                        <br/>Legajo: 4957<br/>Profesor: Navarro, Diego<br/>Facultad de Ingeniería - Universidad de Mendoza</p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/scrolling-nav.js"></script>

</body>

</html>
