<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Comunicacion de Redes Seguras</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css" />
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>Creacion de cuentas de correo <small>Servicios de aplicacion - Univesidad de Mendoza</small></h1>
</div>

<!-- Registration form - START -->
<div class="container">
    <div class="row">
	{{ error_msg }}
	{{ register_msg }}
        <form role="form" method="POST" action="/mailbox/">
	{% csrf_token %}
            <div class="col-lg-6">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Campos requeridos</strong></div>
		<div class="form-group">
                    <label for="InputName">Usuario</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="name" id="id_name" placeholder="Ingrese usuario" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputMessage">Contraseña</label>
                    <div class="input-group">
			<input type="password" class="form-control" id="id_crypt" name="crypt" placeholder="Ingrese su contraseña" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
		 <div class="form-group">
                    <label for="InputMessage">Repita la contraseña</label>
                    <div class="input-group">
			<input type="password" class="form-control" id="id_crypt_du" name="crypt_du" placeholder="Ingrese su contraseña" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
		<div class="form-group">
			 <select class="selectpicker" name="list">
				{% for d in domain_list %}
				 <option>{{ d.domain }}</option>
				{% endfor %}
			</select>
		</div>
 		<button class="btn btn-primary btn-lg btn-block" type="submit">Crear</button>
	   </div>
	<a href="/home/">Ir a la pagina principal</a>
</div>
<!-- Registration form - END -->

</div>

</body>
</html>
